{% extends 'base.html' %}
{% block head %}{% endblock %}
{% load static %}
{% block title %} Chi siamo {% endblock %}
{% block hero_content %}
    <h1>Chi siamo</h1>
    <p>Perch&eacute; acquistare e vendere con Bidzup</p>
{% endblock %}
{% block content %}
    <div class="col-lg-6 mx-auto">
    <h5>
            Bidzup è il sito di compravendita per oggetti speciali selezionati da
            esperti più visitato d'Europa, con oltre 75.000 oggetti all'asta ogni settimana. <br />
            La nostra missione consiste nell'offrire ai nostri clienti un’esperienza emozionante
            e fluida nell'acquisto e nella vendita di oggetti speciali e rari.
        </h5>
        <p>
            Fondata nel 2025 con la missione di rendere gli oggetti speciali più accessibili
            al pubblico, Bidzup ora propone oltre 600 aste ogni settimana in diverse
            categorie, come ad esempio oggetti da collezione, arte, design, gioielli,
            orologi, auto d'epoca e altro ancora.
        </p>
            <h4 class="text-center">Hai domande? Non esitare a contattarci, saremo lieti di risponderti</h4>
        <p class="mt-5 text-center">
            <a href="/contatti/" class="mt-0 btn btn-get-started mx-auto text-center"> Contattaci</a>
        </p>
    </div>
{% endblock %}