{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% load static %}

{% block title %} Aiuto {% endblock %}
{% block hero_content %}
    <h1>Domande frequenti</h1>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row py-2">
            <div class="col-4">
                <h4 class="text-accent"><i class="fa-regular fa-circle-question"></i> Come posso avere più informazioni su un oggetto?</h4>
                <p>Un oggetto all’astaDettagli sull’oggettoNella pagina dell’oggetto troverai le foto dell’oggetto da diverse.. <a href="#">continua</a></p>
            </div>
            <div class="col-4">
                <h4 class="text-accent"><i class="fa-regular fa-circle-question"></i> Cosa fare se il mio oggetto non è come descritto?</h4>
                <p>Comprendiamo che possa essere deludente quando un oggetto non corrisponde alle tue aspettative.. <a href="#">continua</a></p>
            </div>
            <div class="col-4">
                <h4 class="text-accent"><i class="fa-regular fa-circle-question"></i> Ho effettuato il pagamento per il mio oggetto. Perché non l’ho ancora ricevuto?</h4>
                <p>Puoi controllare eventuali aggiornamenti riguardanti l’arrivo previsto del tuo ordine sulla relativa pagina.. <a href="#">continua</a></p>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4">
                <h4 class="text-accent"><i class="fa-regular fa-circle-question"></i> Come posso contattare il venditore?</h4>
                <p>Dopo aver vinto e pagato un lotto nelle nostre aste, sarà possibile contattare il venditore direttamente attraverso.. <a href="#">continua</a></p>
            </div>
            <div class="col-4">
                <h4 class="text-accent"><i class="fa-regular fa-circle-question"></i> Cosa devo sapere in merito alla spedizione internazionale dei miei oggetti?</h4>
                <p>Spedizione smartSe utilizzi la spedizione smart, ti guideremo in tutto il processo doganale. Scopri.. <a href="#">continua</a></p>
            </div>
            <div class="col-4">
                <h4 class="text-accent"><i class="fa-regular fa-circle-question"></i> Ci sono altre commissioni? </h4>
                <p>In base alla tua ubicazione e al prezzo dell’offerta finale, potrebbe esserci una tassa d’importazione.. <a href="#">continua</a></p>
            </div>
        </div>
    </div>
{% endblock %}